body{

}
.container{
	background-color: grey;
	font-size: 12px;
}
.menu{

}
.header{

}
.content{

}
.footer{

}
@media only screen and (max-width: 640px) {
	.header h1{
	background-color: red;
	font-size: 12px;
}
}

@media screen and (max-width:768px){
	h1{
		color: #000;
		background-color: red;
		font-size: 18px;
	}
	/*==========================STYLE========================*/
}
@media (max-width:480px){
	h1{
		color: #000;
	}
	/*==========================STYLE========================*/
}
@media (max-width: 320px){
	h1{
		color: #000;
	}
	/*==========================STYLE========================*/
}
@media (max-width:1280px){
	/*==========================STYLE========================*/
}
@media (max-width:1080px){
	/*==========================STYLE========================*/
}
@media (max-width:991px){
	/*==========================STYLE========================*/
}
@media (max-width:800px){
	/*==========================STYLE========================*/
}
@media (max-width:768px){
	/*==========================STYLE========================*/
}
@media (max-width:767px){
	/*==========================STYLE========================*/
}
@media (max-width: 736px){
	/*==========================STYLE========================*/
}
@media (max-width: 667px){
	/*==========================STYLE========================*/
}
@media (max-width: 640px){
	/*==========================STYLE========================*/
}
@media (max-width: 600px){
	/*==========================STYLE========================*/
}
@media (max-width: 568px){
	/*==========================STYLE========================*/
}
@media (max-width: 480px){
	/*==========================STYLE========================*/
}
@media (max-width: 414px){
	/*==========================STYLE========================*/
}
@media (max-width: 384px){
	/*==========================STYLE========================*/
}
@media (max-width: 375px){
	/*==========================STYLE========================*/
}
@media (max-width: 320px){
	/*==========================STYLE========================*/
}